@charset "UTF-8";
@import "variables.scss";


/* HERO */
.hero {
	width: 100vw;
	height: 100vh;
	background-color: $north-black;
	h1 {
		color: white;
		line-height: 1em;
	}
	.intro {
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		text-align: center;
		.wrapper {
			display: inline-block;
		}
		p {
			font-size: 1.25rem;
			margin-top: 0.75em;
		}
		@media (min-width: 768px) {
			.tagline {
				text-align: right;
				padding-right: 6px;
			}
			h1, p, .bar {
				display: inline-block;
			}
			p {
				margin-top: 0;
			}
			.bar {
				margin: 0 16px 6px 0
			}
			br {
				display: none;
			}
		}
	}
	.scrolltip {
		position: absolute;
		left: 50%;
		bottom: 0;
		display: none !important;
		transform-origin: left bottom;
		transform: rotate(-90deg) translateY(50%);
		@media (min-width: 768px) {
			display: inline-block;
		}
		.bar, h4 {
			display: inline-block;
		}
		.bar {
			margin-bottom: 4px;
		}
		h4 {
			margin-left: 1em;
		}
	}
}


/* APPROACH */
.approach {
	text-align: center;
	background-color: $north-grey-3;
	.container {
		padding: 3rem 1.25rem 3.5rem;
		background-color: white;
		@media (min-width: 768px) {
			padding: 6rem 1.75rem;
		}
		@media (min-width: 992px) {
			width: 75%;
			margin: auto auto auto 0;
			padding: 7rem 2rem 7.5rem;
		}
	}
	.wrapper {
		@media (min-width: 768px) {
			width: 75%;
			max-width: 650px;
			margin: auto;
			text-align: left;
			h2 {
				margin-left: -2rem;
			}
		}
	}
}


/* WORK */
.work {
	&:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.project {
		width: 100%;
		overflow: hidden;
		@media (min-width: 768px) {
			width: 50%;
			float: left;
		}
		&:first-child {
			@media (min-width: 768px) and (max-width: 991px) {
				width: 100% !important;
			}
		}
		.wrapper {
			position: relative;
			width: 100%;
			padding-bottom: 75%;
			background-size: cover;
			background-position: center;
			.overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				@media (max-width: 991px) {
					background-color: transparent !important;
				}
				@media (min-width: 992px) {
					opacity: 0;
					transition: 0.5s;
				}
				&:hover {
					opacity: 1;
					transition: 0.5s;
				}
				.details {
					position: absolute;
					left: 1em;
					bottom: 1em;
					@media (min-width: 768px) {
						left: 1.75em;
						bottom: 1.75em;
					}
					@media (min-width: 992px) {
						left: 50%;
						bottom: 50%;
						transform: translate(-50%, 50%);
						text-align: center;
					}
					h3, p {
						color: white;
					}
					p {
						line-height: 1.75em;
					}
				}
			}
		}
	}
}


/* ABOUT */
.about {
	position: relative;
	text-align: center;
	background-color: $north-grey-3;
	& > .cta {
		position: absolute;
		display: block;
		right: 0;
		padding-right: 0;
		border: none;
		color: white;
		background-color: $north-grey-2;
		transition: 0.3s;
		&:hover {
			background-color: $north-black;
			transition: 0.3s;
		}
		.bar {
			background-color: white;
			margin: 0 0 4px 1em;
		}
	}
	.container {
		padding: 6rem 1.25rem 3.5rem;
		background-color: white;
		@media (min-width: 768px) {
			padding: 7.5rem 1.75rem;
		}
		@media (min-width: 992px) {
			width: 75%;
			margin: auto 0 auto auto;
			padding: 7rem 2rem 7.5rem;
		}
	}
	.wrapper {
		@media (min-width: 768px) {
			width: 75%;
			max-width: 650px;
			margin: auto;
			text-align: left;
			h2 {
				margin-left: -2rem;
			}
		}
		.cta {
			margin-top: 1rem;
			@media (min-width: 768px) {
				margin-top: 1.25rem;
			}
		}
	}
}
